.uc-password__label {
  composes: uc-input__label from 'ucentral/components/uc/input/styles';
}

.uc-password__control {
  composes: uc-input__control from 'ucentral/components/uc/input/styles';
}

.uc-password__control.--error {
  @apply border border-yellow-400;
}

.uc-password__error-message {
  composes: uc-input__error-message from 'ucentral/components/uc/input/styles';
}
