<div local-class="layout">
  <div local-class="layout__header">
    <div local-class="layout__logo">
      {{inline-svg "/assets/images/ucentral-logo"}}
    </div>

    <h1 local-class="layout__title">
      {{yield to="title"}}
    </h1>

    <div local-class="layout__description">
      {{yield to="description"}}
    </div>

    <div local-class="layout__content">
      {{yield}}
    </div>
  </div>
</div>
