.uc-password__label {
  composes: uc-input__label from 'ucentral/components/uc/input.css';
}

.uc-password__control {
  composes: uc-input__control from 'ucentral/components/uc/input.css';
}

.uc-password__control.--error {
  @apply border border-yellow-400;
}

.uc-password__error-message {
  composes: uc-input__error-message from 'ucentral/components/uc/input.css';
}

.uc-password__container {
  position: relative;
}

.uc-password__visibility-toggle {
  position: absolute;
  top: 12px;
  right: 10px;
}
